.container{
    width:100%;
}
.box{
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (min-width:627px) and (max-width:1050px){
    .box{
        width:627px;
    }
}
.item{
    display: inline-block;
    margin : 0.5rem;
    /* box-shadow: 3px 3px 5px 3px #2d7500; */
    overflow: hidden;
    /* background-color: rgba(96, 96, 96, 0.487);  */
}
.item div{
    padding:1rem;
    transition: all .3s;
}
.item div>span{
    width:100%;
    display: none;
    text-align: center;
}

/* hover */
.item:hover div{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.701);
}
.item:hover div>p{
    opacity: 0;
}
.item:hover div>span{
    display: block;
    position: absolute;
    top:1rem;
    left:0;
    color:#000;
    font-weight: bold;
}

.ModalContainer{
    width:10%;
    min-width: 400px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalCard{
    width:100%;
    padding:1rem;
    border-radius: 10px;
    background-color: #ffffff;
    color:#000;
}

.ModalCard>dl{
    padding-bottom:1rem;
    border-bottom:#000 1px solid;
}
.ModalCard dd{
    font-size: 2rem;
    font-weight: bold;
}
.desc {
    padding-top:1rem;
    width:90%;
}
.desc li{
    padding-bottom:.5rem;
    text-align: left;
    font-size: 1.2rem;
}