.pageName{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0,0,0,0);
}

.container{
    width:80%;
    background-color: #67e8162c;
    color:#000;
    margin:0 auto;
    padding:2rem;
}
.box{
    border-bottom: 1px solid #000;;
}
.designTitle{
    font-size: 400%;
    font-weight:bold;
    border-bottom:3px dotted #000;
}
.image{
    margin-top: 2rem;
}
.date{
    /* text-align: right; */
    padding:1rem;
}
.title{
    padding:1rem;
    font-size:300%;
    font-weight: bold;
    padding-bottom:2rem;
    text-align: left;
}

.desc{
    padding-top:1rem;
    text-align: left;
    line-height: 1rem;
}

.address{
    font-weight:bold;
    text-align: left;
    font-size: large;
}

.back{
    text-align: left;
    color:#fff;
}
.back:hover{
    cursor: pointer;
}

.back>span{
    padding-right: .5rem;
}