.container{
    width:80%;
    height:80vh;
    background-color: #afa9a2;
    color:#000;
    margin:0 auto;
    padding:2rem;
}
.box{
    border-bottom: 1px solid #000;;
}
.image{
    border:1px dotted #000;
    background-color: #3e3e3e;
    padding:1rem;
}
.date{
    text-align: right;
    padding:1rem;
}
.title{
    padding:1rem;
}

.title>dt{
    font-size:4rem;
    font-weight: bold;
    text-align: left;
    padding-bottom:2rem;
}

.title>dd{
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}

.desc{
    padding-top:1rem;
    text-align: left;
    line-height: 2rem;
}