.container{
    padding-top:3rem
}
.card{
    background-color:#959595;
    margin:2rem;
    padding:2rem;
    border-radius: 1rem;
    
}
.card>dl{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

