.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width:18rem;
    background-color: rgba(255, 255, 255, 0.552);
    margin:1rem 5rem;
    padding:1rem 0 0 ;
    overflow: hidden;
    box-shadow: 5px 5px 8px 5px #ffffff75;
}
.text{
    border-top : 1px solid #000;
    padding:1rem;
    margin-top:1rem;
    color:#000;
}

.text>dl>dt{
    padding-bottom:1rem;
    font-size: 1.3rem;
    font-weight: bold;
}