.intro>.box{
  /* width:500px; */
  margin:0 auto;
}
.me>img {
  /* width:auto;
  height:auto; */
   --s: 190px; /* image size */
  --b: 5px; /* border thickness */
  --c: #f0dd30; /* border color */
   --cb: transparent; /* background color */
  --f: 1; /* initial scale */
  
  width: var(--s);
  aspect-ratio: 1;
  padding-top: calc(var(--s)/8);
  cursor: pointer;
  border-radius: 0 0 999px 999px;
  --_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
  --_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));
  outline: var(--b) solid var(--c);
  outline-offset: var(--_o);
  background: 
    radial-gradient(
      circle closest-side,
      var(--cb) calc(99% - var(--b)),var(--c) calc(100% - var(--b)) 99%,#0000
     ) var(--_g);
  -webkit-mask:
    linear-gradient(#000 0 0) no-repeat
     50% calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 50%,
    radial-gradient(circle closest-side,#000 99%,#0000) var(--_g);
  transform: scale(var(--f));
  transition: .5s;
  }
  .me>img:hover {
    --f: 1.15; /* hover scale */
    cursor:default;
  }

  .introText{
    width:50%;
    margin:0 auto;
    background-color:#67e8168f;
    margin:5rem auto;
    padding:2rem;
    box-shadow: 5px 5px 8px 5px #ffffff75;
  }
  .introText>p{
    text-align: left;
    padding-bottom:1rem;
  }