/* .container{
    display: flex;
    flex-direction: column-reverse;
} */
.card{
    width:50%;
    background-color:#67e8168f;
    margin:5rem auto;
    padding:2rem;
    box-shadow: 5px 5px 8px 5px #ffffff75;
}
.card dl{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

