*{
    padding:0;
    margin:0;
    text-align: center;
}
body{
    background: no-repeat center url('../public/images/background.jpg');
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color:inherit;
}

li{
    list-style-type: none;
}

section{
    padding:2rem 0;
}
